@model IEnumerable<DariGroupe.Models.Announcement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table>
    <th>
        @Html.ActionLink("Create New", "Create") ||
    </th>
    <th>
        @Html.ActionLink("Order", "order") ||
    </th>
    <th>
        <a href="http://localhost:8090/annonce/export/pdf/12">Export PDF your announcement</a>
    </th>
</table>
   



   

<table class="table">
    <tr style="text-align: center; background-color: grey;  color: white;font-size: 20px">
        <th style="text-align: center; background-color: grey;  color: white;font-size: 20px">
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th style="text-align: center; background-color: grey;  color: white;font-size: 20px">
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th style="text-align: center; background-color: grey;  color: white;font-size: 20px">
            @Html.DisplayNameFor(model => model.startDate)
        </th>
       
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
     
        <td style="text-align: center;">
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id }) |
            @Html.ActionLink("Favoris", "Affect", new { id = item.id })
            <div>
                <a href="http://localhost:8090/count">Number of announcement</a>
            </div>
        </td>
    </tr>
}

</table>
